main .content .form .small-heading{
    color: rgb(79, 79, 79);
}
main .content .form{
    margin: 0 auto;
    width: fit-content;
    background-color: rgb(249, 251, 254);
    padding: 20px;
    border-radius: 20px;
}
main .content .form .availables{
    margin: 10px 0;
}
main .content .form .availables ul{
    display: flex;
    flex-wrap: wrap;
}
main .content .form .availables ul li{
    padding: 10px;
    display: flex;
    align-items: center;
    font-weight: 600;
    color: rgb(79, 79, 79);
}
main .content .form .availables ul li i{
    font-size: 20px;
    margin-left: 5px;
    color: black !important;
}
main .content .form button{
    padding: 12px;
    margin: 10px 0;
    border: none;
    border-radius: 12px;
    width: 100%;
    cursor: pointer;
}
main .content .form button.google-btn{
    background: none;
    border: 1px solid rgb(222, 226, 230);
    color: rgb(79, 79, 79);
}
main .content .form button.facebook-btn{
    background-color: rgb(24, 119, 242);
    color: white;
}
main .content .form .input-row{
    display: flex;
    flex-direction: column;
}
main .content .form hr{
    margin: 20px 0;
}
main .content .form .input-row label{
    font-weight: 500;
}
main .content .form .input-row input{
    margin: 10px;
    margin-right: 0 !important;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
    border: none;
}
main .content .form button.next-btn{
    background-color: rgb(64,140,221);
    color: white;
}