/*/ Trends Characters | Main Start /*/
.trends-characters .characters-box{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 20px;
}
.trends-characters .characters-box .character{
    cursor: pointer;
    background-color: white;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}
.trends-characters .characters-box .character:hover{
    box-shadow: 1px 1px 5px black;
}
.trends-characters .characters-box .character .image img{
    border-radius: 20px;
    width: 100%;
    object-fit: cover;
    object-position: center center;
    padding: 10px;
}
.trends-characters .characters-box .character .info{
    text-align: center;
    margin-top: 10px;
    padding: 10px;
}
.trends-characters .characters-box .character .info .char-name{
    line-height: 30px;
    font-weight: bolder;
}
.trends-characters .characters-box .character .info .char-bio{
    color: rgb(145, 145, 145);
    font-weight: bold;
}

/*/ Trends Companys | Main Start /*/
.trends-companys .companys-box{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 20px;
}
.trends-companys .companys-box .company{
    cursor: pointer;
    background-color: white;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}
.trends-companys .companys-box .company:hover{
    box-shadow: 1px 1px 5px black;
}
.trends-companys .companys-box .company .image{
    padding: 20px;
}
.trends-companys .companys-box .company .image img{
    width: 100%;
    object-fit: cover;
    object-position: center center;
    border-radius: 20px;
}
.trends-companys .companys-box .company .info{
    text-align: center;
    padding: 10px;
}

/*/ Catgs Choosen | Main Start /*/
.catgs-choosen .catgs-box{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 20px;
}
.catgs-choosen .catgs-box .catg{
    cursor: pointer;
    background-color: white;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}   
.catgs-choosen .catgs-box .catg:hover{
    box-shadow: 1px 1px 5px black;
}
.catgs-choosen .catgs-box .catg .image{
    padding: 20px;
}
.catgs-choosen .catgs-box .catg .image img{
    width: 100%;
    object-fit: cover;
    object-position: center center;
    border-radius: 20px;
}
.catgs-choosen .catgs-box .catg .info{
    text-align: center;
    padding: 10px;
}