<!DOCTYPE html>
<html lang="ar" dir="rtl">
<head>
    <title>التصنيفات</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/normalize.css">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/reset.css">
    <link rel="stylesheet" href="./css/details.css">
    <link rel="stylesheet" href="./css/userupdatecharacterform.css">
</head>
<body> 
<main>
    <header>
        <div class="container">
            <nav>
                <div class="logo-container">
                    <h2>السيرة الذاتية</h2>
                    <!-- <img src="images/logo.png" alt="" class="logo"> -->
                </div>
                <ul>
                    <li><a href="/" class="active">الرئيسية</a></li>
                    <li><a href="/catgs">التصنيفات</a></li>
                    <li><a href="/addCharacter">اضف شخصية</a></li>
                    <li><a href="/addCompany">اضف شركة</a></li>
                </ul>
                <ul>
                    <li>
                        <select name="" id="" class="flat-select">
                          <option value="">السعودية</option>
                          <option value="">مصر</option>
                          <option value="">قطر</option>
                          <option value="">الاردن</option>
                        </select>
                    </li>
                    <li class="login-btn">
                        <li class="login-btn">
                            <a href="/login">
                                    <button type="submit" style="background-color: <%= btnColor.value %>">
                                        <i class="fa-solid fa-user"></i>
                                        تسجيل الدخول
                                    </button>
                            </a>
                        </li>
                    </li>
                    <li>
                        <i class="fa-solid fa-bars menu"></i>
                    </li>
                </ul>
            </nav>
            <div class="responsive-menu">
                <ul>
                    <li><a href="/" class="active">الرئيسية</a></li>
                    <li><a href="/catgs">التصنيفات</a></li>
                    <li><a href="/addcharacter">اضف شخصية</a></li>
                    <li><a href="/addcompany">اضف شركة</a></li>
                    <li class="login-btn">
                        <a href="/login">
                            <button type="submit" style="background-color: <%= btnColor.value %>">
                                <i class="fa-solid fa-user"></i>
                                تسجيل الدخول
                            </button>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </header>
    <div class="container">
        <section class="header" style="background: linear-gradient(90deg, rgb(43, 156, 255) 0%, rgb(0, 133, 250) 45%, rgb(98, 177, 246) 100%) !important">
            <div class="content" style="width: 100% !important">
                <h1>من هم؟ اكبر مقاعدة بيانات للشخصيات</h1>
                <h2>ابحث ضمن 45455 شخصية ومؤسسة</h2>
                <div class="search-box">
                    <form action="/search" method="post" novalidate>
                        <div class="right">
                            <i class="fa-solid fa-magnifying-glass"></i>
                            <input type="search" class="search-input" name="query" placeholder="ابحث عن شخصية او مؤسسة">
                        </div>
                        <div class="left">
                            <button type="submit">ابحث</button>
                        </div>
                    </form>
                </div>
                <div class="trends">
                    <button>
                            <a href="/tags/<%= tag._id %>" style="color: black;">
                                <i class="fa-solid fa-arrow-trend-up"></i>
                                شخصيات ثمانية
                            </a>
                    </button>
                </div>
            </div>
        </section>
        <h4 class="location">الرئيسية / <span>اسم الشخصية</span></h4>
        <section class="content" id="content"> 
            <div class="info">
                <div class="top">
                    <div class="image">
                        <img src="" style="height: 180px;" alt="">
                    </div>
                    <div class="text">
                        <h2 class="characterName">من هو؟ </h2>
                        <h4 class="nick"></h4>
                        <h4>الجنس: </h4>
                        <h4>الجنسية: </h4>
                        <h4>تاريخ الميلاد </h4>
                        <h4>تاريخ الوفاة </h4>
                        <h4>الفترة التاريخية </h4>
                        <h4>المهنة الحالية: </h4>
                    </div>
                </div>
                <div class="bottom">
                    <h2 class="characterName">من هو؟ اسم - الشخصية</h2>
                    <div class="descInfo">
                        موضوع
                    </div>
                    <div class="side-info">
                        <h2>معلومات جانبية</h2>
                                <table class="custom-table">
                                  <thead>
                                    <tr>
                                        <th>الميزانية</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr>
                                        <td>11</td>
                                    </tr>
                                  </tbody>
                                </table>
                            <h4>اضافة اي معلومات جانبية للشخصية ؟</h4>
                            <form action="/charInsert" method="post" novalidate>
                                <div class="row" style="display: flex; flex-direction: column;">
                                    <label for="fieldName">الاسم</label>
                                    <input type="text" placeholder="Field Name" id="fieldName" name="fieldName" class="full-input">
                                </div>
                                <div class="row">
                                    <label for="fieldValue">القيمة</label>
                                    <input type="text" placeholder="Field Value" id="fieldValue" name="fieldValue" class="full-input">
                                </div>
                                <input type="hidden" name="characterId" value="<%= character._id %>">
                                <button type="submit" class="btn">اضافة</button>
                            </form>
                            <form action="/userUpdateCharacter" method="post">
                                <input type="text" name="character" value="<%= character._id %>" hidden>
                                <button type="submit" class="btn">تحديث الشخصية</button>
                            </form>
                    </div>
                </div>
            </div>
            <div class="more">
                <div class="characters-box">
                        <a href="/character/<%= character._id %>">
                            <div class="character">
                                <div class="image">
                                    <img src="" style="height: 180px;" alt="">
                                </div>
                                <div class="info">
                                    <h3 class="char-name" style="color: black;">اسم الشخصية</h3>
                                    <p class="char-bio" style="color: rgb(145, 145, 145);">موضوع الشخصية</p>
                                </div>
                            </div>
                        </a>
                </div>
            </div>
        </section>
    </div>
</main>
<footer style="background-color: white">
    <div class="container">
        <section class="footer">
            <div class="info">
                <div class="logo">
                    <img src="images/logo.png" alt="">
                            <h3>منهم؟ </h3>
                            <h3>اكبر قاعدة بيانات</h3>
                    <div class="social">
                        <h4>تابعنا على</h4>
                        <ul>
                            <li><i class="fa-brands fa-facebook"></i></li>
                            <li><i class="fa-brands fa-youtube"></i></li>
                            <li><i class="fa-brands fa-twitter"></i></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="links">
                <div class="col">
                    <h4>حول من هم</h4>
                    <ul>
                        <li><a href="/catgs">التصنيفات</a></li>
                        <li><a href="/about">عن من هم</a></li>
                        <li><a href="/privacy">سياسية الخصوصية</a></li>
                    </ul>
                </div>
                <div class="col">
                    <h4>مواقغ اخرى من مجرة</h4>
                    <ul>
                        <li><a href="">هارفارد بيزنس ريفيو</a></li>
                        <li><a href="">فورتشن 500 العربية</a></li>
                        <li><a href="">اي ام تي</a></li>
                        <li><a href="">نفسيتي</a></li>
                        <li><a href="">فورتشن العربية</a></li>
                    </ul>
                </div>
            </div>
        </section>
    </div>
</footer>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<script src="/js/main.js"></script>
</body>
</html>