<!DOCTYPE html>
<html lang="ar" dir="rtl">
<head>
    <title>من هم | سياسية الخصوصية</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/normalize.css">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/reset.css">
    <link rel="stylesheet" href="/css/privacy.css"></head>
<body> 
    <header>
        <div class="container">
            <nav>
                <div class="logo-container">
                    <h2>السيرة الذاتية</h2>
                    <!-- <img src="images/logo.png" alt="" class="logo"> -->
                </div>
                <ul>
                    <li><a href="/" class="active">الرئيسية</a></li>
                    <li><a href="/catgs">التصنيفات</a></li>
                    <li><a href="/addCharacter">اضف شخصية</a></li>
                    <li><a href="/addCompany">اضف شركة</a></li>
                </ul>
                <ul>
                    <li>
                        <select name="" id="" class="flat-select">
                          <option value="">السعودية</option>
                          <option value="">مصر</option>
                          <option value="">قطر</option>
                          <option value="">الاردن</option>
                        </select>
                    </li>
                    <li class="login-btn">
                        <li class="login-btn">
                            <a href="/login">
                                    <button type="submit" style="background-color: <%= btnColor.value %>">
                                        <i class="fa-solid fa-user"></i>
                                        تسجيل الدخول
                                    </button>
                            </a>
                        </li>
                    </li>
                    <li>
                        <i class="fa-solid fa-bars menu"></i>
                    </li>
                </ul>
            </nav>
            <div class="responsive-menu">
                <ul>
                    <li><a href="/" class="active">الرئيسية</a></li>
                    <li><a href="/catgs">التصنيفات</a></li>
                    <li><a href="/addcharacter">اضف شخصية</a></li>
                    <li><a href="/addcompany">اضف شركة</a></li>
                    <li class="login-btn">
                        <a href="/login">
                            <button type="submit" style="background-color: <%= btnColor.value %>">
                                <i class="fa-solid fa-user"></i>
                                تسجيل الدخول
                            </button>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </header>
    <!-- Main Start -->
    <main>
        <div class="container">
            <section class="header" style="background: linear-gradient(90deg, rgb(43, 156, 255) 0%, rgb(0, 133, 250) 45%, rgb(98, 177, 246) 100%) !important">
                <div class="content" style="width: 100% !important">
                    <h1>من هم؟ اكبر مقاعدة بيانات للشخصيات</h1>
                    <h2>ابحث ضمن 45455 شخصية ومؤسسة</h2>
                    <div class="search-box">
                        <form action="/search" method="post" novalidate>
                            <div class="right">
                                <i class="fa-solid fa-magnifying-glass"></i>
                                <input type="search" class="search-input" name="query" placeholder="ابحث عن شخصية او مؤسسة">
                            </div>
                            <div class="left">
                                <button type="submit">ابحث</button>
                            </div>
                        </form>
                    </div>
                    <div class="trends">
                        <button>
                                <a href="/tags/<%= tag._id %>" style="color: black;">
                                    <i class="fa-solid fa-arrow-trend-up"></i>
                                    شخصيات ثمانية
                                </a>
                        </button>
                    </div>
                </div>
            </section>
            <section class="content">
                <h2 class="heading">سياسة الخصوصية</h2>
                <h3 class="small-heading">الرئيسية / <span>سياسية الخصوصية</span></h3>
                <p>سياسة الخصوصية في منصة من هم</p>
                <p>
                    في منصة من هم، نقوم بجمع البيانات التي تسمح لنا بالتواصل معك أو تقديم مزايا العضوية لك (مثل متابعة شخصية ما).</p>
                <p>سنقوم بالاحتفاظ بمعلوماتك الشخصية (الاسم، المهنة، العنوان، المدينة، الدولة، مكان
                    العمل)، بالإضافة إلى معلومات الاتصال بك (رقم الهاتف والبريد الإلكتروني). نلتزم بالحفاظ على خصوصية هذه
                    المعلومات، وسوف نتخذ كل الاجراءات الضرورية لمنع أي طرف ثالث من الحصول عليها، أو مراسلتك بدون موافقتك، ولن
                    يُسمح بالوصول إلى المعلومات إلا للأشخاص المؤهلين والمحترفين الذين يشرفون على منصة من هم.</p>
                <p>
                    نحن نستخدم طرقاً مناسبة لجمع البيانات وتخزينها ومعالجتها وتدابير الأمن لحمايتها من الوصول اليها الغير المصرح
                    به أو التغيير أو الإفصاح أو إتلاف معلوماتك الشخصية واسم المستخدم وكلمة المرور ومعلومات المعاملات والبيانات
                    المخزنة على موقعنا.</p>
                <p>الأساس القانوني لمعالجة البيانات الشخصية بموجب القاعدة العامة لحماية البيانات (GDPR):
                    إذا كنت من المنطقة الاقتصادية الأوروبية (EEA)، يعتمد الأساس القانوني لمنصة من هم لجمع واستخدام المعلومات
                    الشخصية الموضحة في سياسة الخصوصية هذه على البيانات الشخصية التي نجمعها والسياق المحدد الذي نجمعها فيه. إذا كنت
                    مقيماً في المنطقة الاقتصادية الأوروبية، فلديك حقوق حماية معينة فيما يخص بياناتك. نهدف إلى اتخاذ خطوات معقولة
                    تسمح لك بتصحيح أو تعديل أو حذف أو تحديد استخدام بياناتك الشخصية. إذا كنت ترغب في أن تكون على علم بالبيانات
                    الشخصية التي نحتفظ بها عنك، وإذا كنت تريد إزالتها من أنظمتنا، فالرجاء الاتصال بنا.</p>
                <p>
                    في حال اشتركت بنشرتنا البريدية، ستصلك منا مختارات من محتويات المنصة، بالإضافة إلى عروض الاشتراك. يمكنك إلغاء
                    الاشتراك في أي وقت من خلال الضغط على "إلغاء الاشتراك" في أي من نشراتنا.</p>
                <p>
                    لن يتم الاحتفاظ بمعلومات بطاقتك الائتمانية أو بطاقة الحسم المباشر، بما في ذلك الاسم على البطاقة أو رقم البطاقة
                    أو تاريخ الصلاحية، أو تسليمها لأي طرف ثالث.</p>
                <p>
                    في حال كنت تشعر بالقلق على بياناتك، يحقّ لك طلب الدخول إلى حسابك والاطلاع على البيانات الشخصية التي نحتفظ بها
                    والتي قمت بإعطائنا إياها. ويحق لك أن تطلب منا تصحيح أية أخطاء في بياناتك الشخصية دون أن تترتب عليك أية رسوم.
                    ولك الحق، في أي وقت، بطلب عدم الاتصال بك أو حذف معلوماتك المتوافرة لدينا.</p>
                <p>
                    تظهر على الموقع والتطبيق إعلانات تجارية تتبع لشركات خارجية لا ترتبط بمنصة من هم. قد تجمع هذه الإعلانات معلومات
                    عن زيارتك للموقع، أو لمواقع أخرى، لكن هذه المعلومات ستكون مجهولة الهوية، ولن تتمكن هذه الإعلانات من معرفة اسمك
                    أو أية من معلوماتك الشخصية.</p>
                <p>
                    قد يتم تحديث سياسة الخصوصية، دون إبلاغ القراء أو المشتركين، لذلك ندعوكم للإطلاع ومراجعة الصفحة بشكل منتظم في
                    حال رغبتم بالاطلاع على أحدث التفاصيل فيما يتعلق بمعلوماتكم على الموقع والتطبيق.</p>
                <h2>
                    للمزيد من المعلومات، نرجو منكم التواصل مع خدمة القراء والمشتركين على</h2>
            </section>
        </div>
    </main>
    <!-- Main End -->
    <footer style="background-color: white">
        <div class="container">
            <section class="footer">
                <div class="info">
                    <div class="logo">
                        <img src="images/logo.png" alt="">
                                <h3>منهم؟ </h3>
                                <h3>اكبر قاعدة بيانات</h3>
                        <div class="social">
                            <h4>تابعنا على</h4>
                            <ul>
                                <li><i class="fa-brands fa-facebook"></i></li>
                                <li><i class="fa-brands fa-youtube"></i></li>
                                <li><i class="fa-brands fa-twitter"></i></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="links">
                    <div class="col">
                        <h4>حول من هم</h4>
                        <ul>
                            <li><a href="/catgs">التصنيفات</a></li>
                            <li><a href="/about">عن من هم</a></li>
                            <li><a href="/privacy">سياسية الخصوصية</a></li>
                        </ul>
                    </div>
                    <div class="col">
                        <h4>مواقغ اخرى من مجرة</h4>
                        <ul>
                            <li><a href="">هارفارد بيزنس ريفيو</a></li>
                            <li><a href="">فورتشن 500 العربية</a></li>
                            <li><a href="">اي ام تي</a></li>
                            <li><a href="">نفسيتي</a></li>
                            <li><a href="">فورتشن العربية</a></li>
                        </ul>
                    </div>
                </div>
            </section>
        </div>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="./js/main.js"></script>
</body>
</html>